<footer>
  <section class="footer">
    <div class="sponsors">
      <h2>Our Sponsors</h2>
      None yet! If you would like to sponsor the event, please contact <a href="mailto:sponsor@onchainscaling.com">sponsor@onchainscaling.com</a>
    </div>
    <div class="share">
      <h2>Share</h2>
      Similique incidunt, adipisci, iusto ipsam reiciendis dolores assumenda hic quo quisquam soluta nobis dolore quidem ex reprehenderit exercitationem quis eum, culpa sequi.
      <br><br>
      <i class="fa fa-2x fa-slack"></i> &nbsp;&nbsp;&nbsp; <i class="fa fa-2x fa-twitter"></i> &nbsp;&nbsp;&nbsp; <i class="fa fa-2x fa-facebook"></i>
    </div>
  </section>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.slim.js"></script>
