<footer>
  <section class="footer">
    <div class="sponsors">
      <h2>Our Sponsors</h2>
      This event wouldn't be possible without the generous blah blah consectetur adipisicing elit. Officia iste hic eaque, ipsa. Ipsum consectetur iure deleniti aut! Veniam laudantium officia illum incidunt dolorum odio at dolorem pariatur voluptate sunt!
    </div>
    <div class="share">
      <h2>Share</h2>
      Similique incidunt, adipisci, iusto ipsam reiciendis dolores assumenda hic quo quisquam soluta nobis dolore quidem ex reprehenderit exercitationem quis eum, culpa sequi.
      <br><br>
      <i class="fa fa-2x fa-slack"></i> <i class="fa fa-2x fa-twitter"></i> <i class="fa fa-2x fa-facebook"></i> <i class="fa fa-2x fa-github"></i>
    </div>
  </section>
</footer>
