<nav class="navigation">
  <ul>
    <li class="navigation__item active">
      <a href="/"><i class="fa fa-home"></i>
        <span>Home</span>
      </a></li>
    <li class="navigation__item">
      <a href="/speakers.html"><i class="fa fa-users"></i>
        <span>Speakers</span>
      </a></li>
    <li class="navigation__item">
      <a href="/presentations.html"><i class="fa fa-file-text-o"></i>
        <span>Presentations</span>
      </a></li>
    <li class="navigation__item">
      <a href="/live.html"><i class="fa fa-video-camera"></i>
        <span>Watch</span>
      </a></li>
    <!--
    <li class="navigation__item">
      <a href="/glossary.html"><i class="fa fa-book"></i>
        <span>Glossary</span>
      </a></li> -->
    <li class="navigation__item">
      <a href="/participate.html"><i class="fa fa-hand-paper-o"></i>
        <span>
          Participate
        </span>
      </a></li>
  </ul>
</nav>
