<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <header class="header--top">
      <aside class="header__fade"></aside>
      {% include header.html %}
      <section class="header__above-fold">
        <img src="use_on_light_bg.svg" alt="" style="width: 80%; margin: 0 auto; height: auto; display: block;">
        <span class="_center">May 27 - 29, 2016</span>
      </section>
    </header>

    <main>
        {{ content }}
    </main>

    {% include footer.html %}

  </body>

</html>
